<!DOCTYPE html>
<html>

  <head>
    <title>Transportation Mapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>

  <body>

    <nav>
      <div class="nav-wrapper teal" style="padding-left: 10px;">
        <a href="#!" class="brand-logo">Transportation Mapper</a>
        <ul class="right">
          <li><a href="index.html">Listing</a></li>
        </ul>
      </div>
    </nav>
    
    <main class="row">
      <aside class="col s0 m3 collection" id="listing" style="max-height:600px; overflow-y: scroll;"></aside>
      <article class="col m9" id="result"></article>
    </main>

    <script>

      async function getInfo(api_url){
        const response = await fetch(api_url);
        const data = await response.json();
        return data;
             
      }
      
      //Login Form

{% extends "layout.html" %}
{% block title %}{% endblock %}

{{ super() }}

{% block content %}
<body class="mainbody">
       
    <form class="loginform"  method="POST" action="/login">
        <h1 id="heading">Login</h1>
    
        <label id="username">Username</label>
        <input type="text" name="username" ><br>
    
        <label id="password">Password</label>
        <input type="password"  name="password" ><br><br>
    
        <input id="loginbtn" type="submit" value="Login">
        <p class="signup"> Not a user? <a href="/signup">Signup</a> </p>
    </form>
    
    
    
{% endblock %}

//Sign Up Form

{% extends "layout.html" %}
{% block title %}{% endblock %}

{{ super() }}

{% block content %}
<body class="mainbody">

    
    <form class="loginform"  method="POST" action="/login">
        <h1 id="heading">Signup</h1>
    
        <label id="username">Username</label>
        <input type="text" name="username" ><br>
    
        <label id="password">Password</label>
        <input type="password"  name="password" ><br><br>

        <label id="password">Confirm Password</label>
        <input type="password"  name="password" ><br><br>
    
        <input id="loginbtn" type="submit" value="Create User">
        <p class="signup"> Already a user? <a href="/">Login</a> </p>
    </form>
    
{% endblock %}
        </script>
        
  </body>
</html>
